


<script type="text/javascript">
// 网站运行时间
    function show_runtime() {
        window.setTimeout("show_runtime()", 1000);
        X = new Date("2021/11/01 00:00:00");
        Y = new Date();
        T = (Y.getTime() - X.getTime());
        M = 24 * 60 * 60 * 1000;
        a = T / M;
        A = Math.floor(a);
        b = (a - A) * 24;
        B = Math.floor(b);
        c = (b - B) * 60;
        C = Math.floor(c);
        d = (c - C) * 60;
        D = Math.floor(d);
        A = A>=0 ? A : "0"+A;
        B = B>=10 ? B : "0"+B;
        C = C>=10 ? C : "0"+C;
        D = D>=10 ? D : "0"+D;
        document.getElementById("vdays").innerHTML = "" + A + "D " + B + "H " + C + "M " + D + "S"
    }
    show_runtime();
</script>


<script>
//根据时间 切换主题
    function time(){
        var     t = new Date().getHours();
        var obj = document.getElementById("css");
        if (t >= 22 && t <= 6 || t === 22){
            obj.setAttribute("href","{{ "/assets/css/main-dark.css" | relative_url }}");
        }else{
            obj.setAttribute("href","{{ "/assets/css/main-light.css" | relative_url }}");
        }
        obj.setAttribute("href","{{ "/assets/css/main-dark.css" | relative_url }}"); // 暂时 强制设置为黑色主题
    }
    time();
</script>



<script src="//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js"></script>
  <script>
    Waline({
      el: '#waline',
      serverURL: 'https://2-618-sh-24pmw057n-cnzixn.vercel.app/',
    });
</script>